name: GitHub-Actions-Demo

on:
  push:
    branches:
      - test

env:
  AWS_REGION: ap-south-1
  LAMBDA_FUNCTION_NAME: Absolute
  ZIP_FILE_NAME: mycode.zip
  ZIP_FILE_NAME1: mycode1.zip
  ZIP_FILE_NAME2: mycode2.zip
  ZIP_FILE_NAME3: mycode3.zip
  ZIP_FILE_NAME4: mycode4.zip
  ZIP_FILE_NAME5: mycode5.zip

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      
      - name: Install dependencies
        run: npm install --force

      - name: install
        run: sudo apt-get install -y make
      
      - name: install mkdir
        run: sudo apt-get update

    

      - name: Install libselinux
        run: sudo apt-get install libselinux1

      - name: Build function
        run: sam build 

      - name: check build folder
        run: cd .aws-sam/build && ls -all

      - name: Install zip
        uses: montudor/action-zip@v1  

      - name: Zip output addStoreFunction
        run: zip -rv mycode.zip ./build/addStoreFunction/dist/
        working-directory: .aws-sam

      - name: Zip output bulkInsertStoresFunction
        run: zip -rv mycode1.zip ./build/bulkInsertStoresFunction/dist/
        working-directory: .aws-sam

      - name: Zip output getAllStoresFunction
        run: zip -rv mycode2.zip ./build/getAllStoresFunction/dist/
        working-directory: .aws-sam

      - name: Zip output loginFunction
        run: zip -rv mycode3.zip ./build/loginFunction/dist/
        working-directory: .aws-sam
      
      - name: Zip output sendEmailFunction
        run: zip -rv mycode4.zip ./build/sendEmailFunction/dist/
        working-directory: .aws-sam

      - name: Zip output updateStoreFunction
        run: zip -rv mycode5.zip ./build/updateStoreFunction/dist/
        working-directory: .aws-sam
      
      
      - name: List Files
        run: cd .aws-sam && ls -all
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update Lambda function code to addStoreFunction
        run: aws lambda update-function-code --function-name Sample-App-addStoreFunction-JsxauxGV3Pdw --no-cli-pager --publish --zip-file fileb://.aws-sam/mycode.zip

      - name: Update Lambda function code to bulkInsertStoreFunction
        run: aws lambda update-function-code --function-name Sample-App-bulkInsertStoresFunction-Bn3e9WFLDomh--no-cli-pager --publish --zip-file fileb://.aws-sam/mycode1.zip

      - name: Update Lambda function code to getAllstoreFunction
        run: aws lambda update-function-code --function-name Sample-App-getAllStoresFunction-qVQsE9K0rqHC --no-cli-pager --publish --zip-file fileb://.aws-sam/mycode2.zip

      - name: Update Lambda function code to loginfunction
        run: aws lambda update-function-code --function-name Sample-App-loginFunction-4C6zsFQ1scy9 --no-cli-pager --publish --zip-file fileb://.aws-sam/mycode3.zip

      - name: Update Lambda function code to sendEmailFunction
        run: aws lambda update-function-code --function-name Sample-App-sendEmailFunction-n94wPWt9CLkK --no-cli-pager --publish --zip-file fileb://.aws-sam/mycode4.zip

      - name: Update Lambda function code to updateStoreFunction
        run: aws lambda update-function-code --function-name Sample-App-updateStoreFunction-CAXAbwSOuY7J --no-cli-pager --publish --zip-file fileb://.aws-sam/mycode5.zip



      



         